/*
    Equipo:
            Andre Sebastian Vizcarra Salas
            Azul Paola Rodriguez Ruiz
            Alexia Paola Anguiano Calderon
            2AmPr
            ISSI; Practica 5 
*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f79ebf;
}

header {
    width: 100%;
    height: 90px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

iframe {
    width: 100%;
    height: auto;
    border-style: none;
}

.listaDer {
    text-align: left;
    padding: 10px;
}

.efectos {
    text-align: left;
    padding: 20px;
    background-color: #facede;
}

.h4efect {
    text-align: left;
}   
.centCont {
    text-align: center;
}
